<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="frame p-4">
    <div class="text-center">
      <div class="card mb-3">
        <div class="card-body">
          text : {{helloText}}

          <br>
          <button type="button" class="btn btn-info" (click)="logout()">logout</button>

        </div>

        <div class="card-body">
          This is a call
          <button type="button" class="btn btn-danger" (click)="getHelloText()">API call</button>

        </div>
      </div>

      <div class="mb-3">
        <label for="formFileMultiple" class="form-label title">Multiple files input example</label>
        <input class="form-control" type="file" id="formFileMultiple" multiple>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">name</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">lastname</label>
        <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">commentaire ...</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

    </div>
  </div>
</div>




